<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Almonte Housing{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
             background-color: #00796b; /* Color de fondo principal */
               color: #ffffff; /* Color de texto blanco */
        }

        .container {
            padding: 50px;
        }

        img {
            max-width: 100%;
            height: auto;
        }

    </style>
</head>
<body>
    <div class="container text-center">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <img src="{% static 'img/logo.png' %}" class="img-fluid" alt="Almonte Housing">
            </div>
        </div>
    </div>
    
    {% block contenido %}{% endblock %}
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
